.Pagination {
    background-color: rgba(223, 79, 79, 0.5);
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 1rem;
    text-align: center;
    margin: auto;
    border-radius: 4px;
}

.PaginationElement {
    border: 1px solid white;
    padding: 0.5rem 0.7rem;
    margin: 0 0.3rem;
    text-align: center;
    border-radius: 4px;
}

.PaginationElement_Switch {
    color: white;
}
