.Business {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 0.5rem 2.3rem 0.5rem;
    border: none;
    border-radius: 5%;
    padding: 1.5rem;
    background: linear-gradient(rgba(195, 20, 50, 0.1), rgba(0, 0, 0, 0.99));
}

.Business .image-container {
    height: 10rem;
    margin-bottom: 1rem;
    border-radius: 10%;
    border: 0.05rem none;
    filter: drop-shadow(2px 3.5px 2px #222);
    transition: ease-out 1s;
}

.Business .image-container:hover {
    transform: scale(1.02) translateX(0.1rem);
    transition: transform .2s ease-in;
}

.Business h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.Business-information {
    display: flex;
    justify-content: space-between;
}

.Business-information p {
    font-size: 0.88rem;
    font-weight: 300;
    line-height: 1rem;
}

.Business-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}

.Business-link {
    color: white;
    font-weight: 400;
}

.Business-link:hover,
.Business-name:hover {
    color: rgba(218, 165, 32, 0.9);
    transition: .2s ease-in-out;
}

.Business-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    color: white;
}

.Business-reviews h3 {
    color: white;
    font-weight: 500;
}

.Business-reviews .rating {
    font-size: 0.88rem;
    line-height: 1rem;
}

i {
    color: rgba(218, 165, 32, 0.9);
}
